<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weiying">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".MyFresco"
        android:allowBackup="true"
        android:icon="@mipmap/dd"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <activity android:name=".view.activity.MainActivity" />
        <activity android:name=".view.activity.CollectionActivity" />
        <activity android:name=".view.activity.SearchActivity" />
        <activity android:name=".view.activity.ListActivity" />
        <activity android:name=".view.activity.WelfareActivity" />
        <activity android:name=".view.activity.DetailsActivity" />
        <activity android:name=".view.activity.SpecialListActivity" />
        <activity android:name=".view.activity.SettingActivity"></activity>
    </application>

</manifest>